.carousel-item img {
  height: 500px;
  /* Set your desired height */
  object-fit: cover;
  /* Important: prevents image distortion */
  width: 100%;
  aspect-ratio: 16/9 ;
  /* Keeps the image responsive */
}

.btn-container {
  margin-top: 40px;
  margin-bottom: 20px;
  display: flex;
  justify-content: center;
  /* Centers horizontally */
  align-items: center;
  /* Centers vertically (if wrapper has height) */
  width: 100%;

}

/* From Uiverse.io by cssbtn-carousels-io */
.btn-carousel {
  width: 200px;
  align-items: center;
  background-image: linear-gradient(144deg, #af40ff, #5b42f3 50%, #00ddeb);
  border: 0;
  border-radius: 16px;
  box-shadow: rgba(151, 65, 252, 0.2) 0 15px 30px -5px;
  box-sizing: border-box;
  color: #ffffff;
  display: flex;
  font-size: 18px;
  justify-content: center;
  line-height: 1em;
  max-width: 100%;
  min-width: 140px;
  padding: 3px;
  text-decoration: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  white-space: nowrap;
  cursor: pointer;
  transition: all 0.3s;
}

.btn-carousel:active,
.btn-carousel:hover {
  outline: 0;
}

.btn-carousel span {
  background-color: rgb(5, 6, 45);
  padding: 16px 24px;
  border-radius: 14px;
  width: 100%;
  height: 100%;
  transition: 300ms;
}

.btn-carousel:hover span {
  background: none;
}

.btn-carousel:active {
  transform: scale(0.9);
}